{% extends "layout.twig" %}

{% block content %}
<div class="page-header">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-3">
                <h1>3<small>/4</small></h1>
                <p>Beacons</p>
            </div>
            <div class="col-xs-3">
                <h1>7<small>/9</small></h1>
                <p>Lights</p>
            </div>
            <div class="col-xs-6">
                <form action="{{ url('mode') }}" method="post">
                    {% if mode == "manual" %}
                        <p><br/>Engine stopped.</p>
                        <input type="hidden" name="mode" value="automatic">
                        <button id="engine-mode" type="submit" class="btn btn-success">Start Engine</button>
                    {% else %}
                        <p><br/>Engine running.</p>
                        <input type="hidden" name="mode" value="manual">
                        <button id="engine-mode" type="submit" class="btn btn-danger">Stop Engine</button>
                    {% endif %}
                    <br/>
                </form>
            </div>
        </div>
        <hr/>
        <h3>Events</h3>
        <div class="dashboard-events">
            {% for event in events %}
                <div class="row">
                    {% if event.type == "state" %}
                        {% if event.state == "inside" %}
                            <div class="col-xs-2 col-md-1">
                                <span class="event-icon event-icon-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </span>
                            </div>
                            <div class="col-xs-10 col-md-6">
                                <p class="event-text">Entered inside {{ event.beacon_name }}</p>
                            </div>
                            <div class="col-xs-offset-2 col-xs-10 col-md-offset-0 col-md-5">
                                <p class="event-text"><span class="text-muted time">{{ event.recorded }}</span></p>
                            </div>
                        {% endif %}
                        {% if event.state == "outside" %}
                            <div class="col-xs-2 col-md-1">
                                <span class="event-icon event-icon-default">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </span>
                            </div>
                            <div class="col-xs-10 col-md-6">
                                <p class="event-text">Stepped outside {{ event.beacon_name }}</p>
                            </div>
                            <div class="col-xs-offset-2 col-xs-10 col-md-offset-0 col-md-5">
                                <p class="event-text"><span class="text-muted time">{{ event.recorded }}</span></p>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if event.type == "action" %}
                        {% if event.on %}
                            <div class="col-xs-2 col-md-1">
                                <span class="event-icon event-icon-warning">
                                    <span class="glyphicon glyphicon-certificate"></span>
                                </span>
                            </div>
                            <div class="col-xs-10 col-md-6">
                                <p class="event-text">Switched on light {{ event.name }}</p>
                            </div>
                            <div class="col-xs-offset-2 col-xs-10 col-md-offset-0 col-md-5">
                                <p class="event-text"><span class="text-muted time">{{ event.scheduled }}</span></p>
                            </div>
                        {% else %}
                            {% if event.state == "executed" %}
                                <div class="col-xs-2 col-md-1">
                                    <span class="event-icon event-icon-danger">
                                        <span class="glyphicon glyphicon-flash"></span>
                                    </span>
                                </div>
                                <div class="col-xs-10 col-md-6">
                                    <p class="event-text">Switched off light {{ event.name }}</p>
                                </div>
                                <div class="col-xs-offset-2 col-xs-10 col-md-offset-0 col-md-5">
                                    <p class="event-text"><span class="text-muted time">{{ event.executed }}</span></p>
                                </div>
                            {% endif %}
                            {% if event.state == "queued" %}
                                <div class="col-xs-2 col-md-1">
                                    <span class="event-icon event-icon-danger">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                                <div class="col-xs-10 col-md-6">
                                    <p class="event-text">Switch off {{ event.name }} planned</p>
                                </div>
                                <div class="col-xs-offset-2 col-xs-10 col-md-offset-0 col-md-5">
                                    <p class="event-text"><span class="text-muted time">{{ event.scheduled }}</span></p>
                                </div>
                            {% endif %}
                            {% if event.state == "canceled" %}
                                <div class="col-xs-2 col-md-1">
                                    <span class="event-icon event-icon-default">
                                        <span class="glyphicon glyphicon-flash"></span>
                                    </span>
                                </div>
                                <div class="col-xs-10 col-md-6">
                                    <p class="event-text">Switch off {{ event.name }} canceled</p>
                                </div>
                                <div class="col-xs-offset-2 col-xs-10 col-md-offset-0 col-md-5">
                                    <p class="event-text"><span class="text-muted time">{{ event.executed }}</span></p>
                                </div>
                            {%  endif %}
                        {%  endif %}
                    {%  endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <p>Light usage over the past 21 days:</p>
        <div id="graph" class="graph-stream-usage"></div>
        <hr/>
        <h3>RSSI</h3>
        <p>Signal strength over the last 60 minutes:</p>
        <div id="beacons" class="graph-stream-rssi"></div>
    </div>
</div>

{%  endblock %}

{%  block footer %}
<script src="{{ app.request.baseUrl }}/components/momentjs/moment.js"></script>
<script src="{{ app.request.baseUrl }}/js/dashboard.js"></script>
{% endblock %}
