{% extends "layout.twig" %}

{% block content %}
<div class="page-header">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-xs-6">
                <h1>3</h1>
                <p>Beacons</p>
            </div>
            <div class="col-xs-6">
                <h1>7</h1>
                <p>Lights</p>
            </div>
        </div>
        <form action="{{ url('mode') }}" method="post">
            <br/>
            {% if mode == "manual" %}
                <input type="hidden" name="mode" value="automatic">
                <button id="engine-mode" type="submit" class="btn btn-success">Start Engine</button>
            {% else %}
                <input type="hidden" name="mode" value="manual">
                <button id="engine-mode" type="submit" class="btn btn-danger">Stop Engine</button>
            {% endif %}
            <br/>
        </form>
    </div>
    <div class="col-md-9">
        <p>Light usage over the past 30 days:</p>
        <div id="graph" class="graph-stream-usage"></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <p>Events over the past 20 minutes:</p>
        <div id="events" class="graph-events"></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h3>Events</h3>
        <div class="dashboard-events">
            {% for state in states %}
                <div class="row">
                    {% if state.state == "inside" %}
                        <div class="col-xs-2">
                            <p class="text-center">
                                <span class="event-icon event-icon-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="event-text">Entered inside {{ state.beacon_name }}</p>
                        </div>
                    {% endif %}
                    {% if state.state == "outside" %}
                        <div class="col-xs-2">
                            <p class="text-center">
                                <span class="event-icon event-icon-default">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="event-text">Stepped outside {{ state.beacon_name }}</p>
                        </div>
                    {% endif %}
                    <div class="col-xs-4">
                        <p class="event-text"><span class="text-muted time">{{ state.recorded }}</span></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <h3>RSSI</h3>
        <p>Signal strength over the last 60 minutes:</p>
        <div id="beacons" class="graph-stream-rssi"></div>
    </div>
</div>

{%  endblock %}

{%  block footer %}
<script src="{{ app.request.baseUrl }}/components/momentjs/moment.js"></script>
<script src="{{ app.request.baseUrl }}/js/dashboard.js"></script>
{% endblock %}
