<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Homebase{% endblock %}</title>

        <link href="{{ app.request.baseUrl }}/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="{{ app.request.baseUrl }}/css/homebase.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li{% if app.request.attributes.get('_route') == 'dashboard' %} class="active"{% endif %}>
                        <a href="{{ path('dashboard') }}">
                            <span class="hidden-xs">Dashboard</span>
                            <span class="glyphicon glyphicon-home visible-xs"></span>
                        </a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'report' %} class="active"{% endif %}>
                        <a href="{{ path('report') }}">
                            <span class="hidden-xs">Report</span>
                            <span class="glyphicon glyphicon-stats visible-xs"></span>
                        </a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'setup' %} class="active"{% endif %}>
                        <a href="{{ path('setup') }}">
                            <span class="hidden-xs">Setup</span>
                            <span class="glyphicon glyphicon-wrench visible-xs"></span>
                        </a>
                    </li>
                </ul>
                <h3><a href="{{ path('dashboard') }}" class="text-muted">Homebase</a></h3>
            </div>

            {% block content %}
            {% endblock %}

            <footer>
                <hr/>
                <p>{% if app.request.user %}Logged in as {{ app.request.user }}.{% endif %}</p>
            </footer>
        </div>

        <script src="{{ app.request.baseUrl }}/components/jquery/jquery.min.js"></script>
        <script src="{{ app.request.baseUrl }}/components/d3/d3.min.js"></script>
        {%  block footer %}
        {% endblock %}
    </body>
</html>
