{% extends "layout.twig" %}

{% block content %}

<div class="page-header">
    {% spaceless %}
        <h1>
            <span>Setup</span>
            <a href="{{ path('addBeacon') }}" class="btn btn-link">Add Beacon</a>
        </h1>
    {% endspaceless %}
</div>

{% if message %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}

<form role="form" method="post" action="{{ path('setup') }}">

<div class="row">
    {% for beacon in beacons %}
        {% if beacon.active %}
            <div class="col-md-4">
                <div class="page-header">
                    {% spaceless %}
                        <h2>
                            <span>⬢ {{ beacon.name }}</span>
                            <a href="{{ path('editBeacon', {id: beacon.id}) }}" class="btn btn-link">Edit</a>
                        </h2>
                    {% endspaceless %}
                </div>
                {% for light in lights %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="mapping[{{ beacon.id }}][{{ light.id }}]" value="1"{% if mapping[beacon.id][light.id] is defined %} checked{% endif %}>
                        {{ light.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Save settings</button>
</div>

<div class="page-header">
    <h3>Hidden Beacons</h3>
</div>

<ul class="list-unstyled">
{% for beacon in beacons %}
    {% if not beacon.active %}
        <li>
            {{ beacon.name }}
            <small class="text-muted">{{ beacon.uuid }} {{ beacon.major }} {{ beacon.minor }}</small>
            <a href="{{ path('editBeacon', {id: beacon.id}) }}" class="btn btn-link">Edit</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

</form>

{%  endblock %}
